<form method="post" action="{{ path('gamereqs_delete', {'gamerid': gamereq.gamerid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gamereq.gamerid) }}">
    <button class="btn">Delete</button>
</form>
