{% extends 'base.html.twig' %}

{% block title %}Edit Gamereqs{% endblock %}

{% block body %}
    <h1>Edit Gamereqs</h1>

    {{ include('gamereqs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gamereqs_index') }}">back to list</a>

    {{ include('gamereqs/_delete_form.html.twig') }}
{% endblock %}
